
$colors: ( 
	primary:#43247D,
	secondary:#000,
	betnum-bg:#9E7AE2,
	betnum-bg-odd:#7956BC,
	betnum-text:#fff,
	game-alert-bg:#7956BC,
	game-alert-text:#fff,
	game-date-bg:#43247D,
	game-date-text:#FDC930 ,
	game-time-bg:#5C35A4,
	game-time-change:#FDC930 ,
	game-time-text:#fff,
	h1:#43247D,
	h2: #666666,
	icon-color:#43247D,
	juice-text:#666666,
	page-bg: #EBEBEB,
	page-number-text: #43247D,
	row-even-bg:#fff,
	row-odd-bg:#EEE3FF,
	row-text:#000,
	table-border:#43247D, /*5px*/
	table-header-bg:#FDC930,
	table-header-text: #43247D,
	error: #f00
	) !default;
